<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="common_header(title)">
    <!--suppress ThymeleafVariablesResolveInspection -->
    <title th:text="${title}">Place title here</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

</head>
<body>
<div th:fragment="navbar" id="nav-bar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">myCalendar</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a id="navWelcomeLink" href="/">Welcome</a></li>
                    <li><a id="navEventsLink" href="/events/">All Events</a></li>
                    <li><a id="navMyEventsLink" href="/events/my">My Events</a></li>
                    <li><a id="navCreateEventLink" href="/events/form">Create Event</a></li>
                    <li><!--suppress HtmlUnknownTarget -->
                        <a id="navH2Link" href="/h2-console">H2</a></li>
                </ul>
            </div>
            <div id="nav-account" class="nav-collapse pull-right">
                <ul class="nav">
                    <li><a id="navLogoutLink" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="alert alert-success" id="message" th:fragment="messages">
    Message Placeholder
</div>

<div class="container">
    <div th:fragment="container(title)">
        <!--    <c:if test="${message != null}">-->
        <div class="alert alert-success" id="1message">Message Placeholder</div>
        <!--    </c:if>-->
        <!--suppress ThymeleafVariablesResolveInspection -->
        <h1 id="title" th:replace="${title}">Page Title Here</h1>
    </div>
</div>

</body>

</html>